/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.basic-container {
  padding-left: 10%;
  padding-right: 10%;
}
.mat-card-title{
  padding-bottom: 16px;
}
.card-container{
  margin: 16px;
}


