  <mat-dialog-content >
    <div class='dialog-container'>
      <mat-form-field>
        <input matInput placeholder='Name' [(ngModel)]='entry.author.name'>
      </mat-form-field>

      <mat-form-field>
        <input matInput  placeholder='Email' [(ngModel)]='entry.author.email'>
      </mat-form-field>

      <mat-form-field>
        <input matInput   placeholder='Phone' [(ngModel)]='entry.author.phone'>
      </mat-form-field>

      <mat-form-field>
        <input matInput  placeholder='Website' [(ngModel)]='entry.author.website'>
      </mat-form-field>
    <mat-form-field>
      <textarea matInput  placeholder='Message' [(ngModel)]='entry.message'></textarea>
    </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color='primary' (click)='save()'>
      Add
    </button>
    <button mat-raised-button color='accent' (click)='close()'>
      Close
    </button>
  </mat-dialog-actions>
